aaTest/Kunde.sql
aaTest/Sonnenblick.sql
aaTest/Video_mit_Kunde_H21.sql
aaTest/video3T_TN.sql
aaTest/videoverwaltung_3T_ohne.sql
aaTest/Artikel_TN.sql
aaTest/cheatsheet.sql
aaTest/sonnenblick_Jan21+FK.sql
aaTest/test22.sql
aaTest/Video_mit_Kunde_H21 (Kopie).sql
aaTest/video3T_TN (Kopie).sql
aaTest/videoverwaltung_3T_ohne (Kopie).sql
aaTest/videoverwaltung_fertig_2019.sql
